In [45]:
# Code used for cleaning, cleaning notes contains what I need to change
import pandas as pd

In [46]:
# cg short for cleangames
cg = pd.read_csv('csv/carlsen_games.csv')
cg.head()

,game_id,game_order,event,site,date_played,round,white,black,result,white_elo,...,termination,time_control,utc_date,utc_time,variant,ply_count,date_created,file_name,group_name_color,group_name_result
0,b61b981c-e005-4064-8cc8-6feae75530b3,1,Lichess Titled Arena 6,https://lichess.org/YpffsNPV,2018.08.04,?,BabaRamdev,damnsaltythatsport,1-0,2739,...,Normal,60+0,2018.08.04,20:58:08,Standard,NaN,2021-12-26T15:21:45+0000,damnsaltythatsport.pgn,black,lost
1,913cad09-25de-4c53-8937-17772cd05544,2,Lichess Titled Arena 6,https://lichess.org/TIzxPIZz,2018.08.04,?,damnsaltythatsport,penguingim1,1-0,2863,...,Normal,60+0,2018.08.04,20:56:59,Standard,NaN,2021-12-26T15:21:45+0000,damnsaltythatsport.pgn,white,won
2,62fcaebd-c829-4357-b9eb-1c1c373d6685,3,Lichess Titled Arena 6,https://lichess.org/FAWl09E2,2018.08.04,?,Hawk20,damnsaltythatsport,0-1,2677,...,Normal,60+0,2018.08.04,20:54:40,Standard,NaN,2021-12-26T15:21:45+0000,damnsaltythatsport.pgn,black,won
3,f075f85f-bafc-4d21-8841-cb3017fbd43b,4,Lichess Titled Arena 6,https://lichess.org/cEanOYfi,2018.08.04,?,damnsaltythatsport,opperwezen,1-0,2848,...,Normal,60+0,2018.08.04,20:52:19,Standard,NaN,2021-12-26T15:21:45+0000,damnsaltythatsport.pgn,white,won
4,bb6c0012-3863-4669-9c4e-9d230b720b04,5,Lichess Titled Arena 6,https://lichess.org/31FDS3I7,2018.08.04,?,caching,damnsaltythatsport,1-0,2770,...,Normal,60+0,2018.08.04,20:50:20,Standard,NaN,2021-12-26T15:21:45+0000,damnsaltythatsport.pgn,black,lost

In [47]:
cg.shape

(13442, 31)

In [48]:
# Date and time don't need to be seperated. valuecounts prove that each datetime is unique and can be used to identify games quickly
cg['datetime'] = cg.utc_date + " " + cg.utc_time
cg.datetime.value_counts()

2018.08.04 20:58:08    1
2020.04.02 03:18:54    1
2020.04.02 03:56:05    1
2020.04.02 03:54:18    1
2020.04.02 03:53:25    1
                      ..
2020.11.06 22:56:09    1
2020.11.06 22:54:11    1
2020.10.27 17:26:28    1
2020.10.27 17:24:28    1
2020.06.06 17:11:27    1
Name: datetime, Length: 13442, dtype: int64

In [49]:
# Deleting game_id because site already serves as a unique ID for each game (fix)
# Deleting site because datetime serves as a unique ID now (New)
# Deleting ply_count because it's empty
# Deleting round because it only has question marks
# Deleting date_played because it's the exact same as utc_date
# Deleting file_name because it's not useful*
# Deleting date_created because it's not useful
# Deleting winner, winner_elo, loser, loser_elo because it's black, black_elo, white, white_elo rearranged
# Deleting utc_date and utc_time because I merged them into datetime
# Deleting group_name_color because his color corresponds to which column his name appears in*
# Remaning group_name_result to magnus_result for clarity

cg = cg.drop(['game_id', 'site', 'ply_count', 'round', 'date_played', 'file_name', 'date_created','winner','winner_elo','loser','loser_elo','utc_date','utc_time','group_name_color'],axis=1)
cg = cg.rename(columns={'group_name_result':'magnus_result'})
cg.head()

,game_order,event,white,black,result,white_elo,white_rating_diff,black_elo,black_rating_diff,white_title,black_title,winner_loser_elo_diff,eco,termination,time_control,variant,magnus_result,datetime
0,1,Lichess Titled Arena 6,BabaRamdev,damnsaltythatsport,1-0,2739,15.0,2873,-15.0,GM,GM,-134,A50,Normal,60+0,Standard,lost,2018.08.04 20:58:08
1,2,Lichess Titled Arena 6,damnsaltythatsport,penguingim1,1-0,2863,10.0,2836,-7.0,GM,GM,27,A00,Normal,60+0,Standard,won,2018.08.04 20:56:59
2,3,Lichess Titled Arena 6,Hawk20,damnsaltythatsport,0-1,2677,-6.0,2857,6.0,IM,GM,180,C00,Normal,60+0,Standard,won,2018.08.04 20:54:40
3,4,Lichess Titled Arena 6,damnsaltythatsport,opperwezen,1-0,2848,9.0,2774,-9.0,GM,IM,74,D46,Normal,60+0,Standard,won,2018.08.04 20:52:19
4,5,Lichess Titled Arena 6,caching,damnsaltythatsport,1-0,2770,14.0,2862,-14.0,GM,GM,-92,A00,Normal,60+0,Standard,lost,2018.08.04 20:50:20

In [50]:
list(cg.columns.values)

['game_order',
 'event',
 'white',
 'black',
 'result',
 'white_elo',
 'white_rating_diff',
 'black_elo',
 'black_rating_diff',
 'white_title',
 'black_title',
 'winner_loser_elo_diff',
 'eco',
 'termination',
 'time_control',
 'variant',
 'magnus_result',
 'datetime']

In [52]:
# Rearranging column so white info is together and black info is together
cg = cg[['game_order','event','white_title','white_rating_diff','white_elo','white','result','black','black_elo',
 'black_rating_diff','black_title','winner_loser_elo_diff','eco','termination','time_control','datetime',
 'variant', 'magnus_result']]
 
cg.head()

,game_order,event,white_title,white_rating_diff,white_elo,white,result,black,black_elo,black_rating_diff,black_title,winner_loser_elo_diff,eco,termination,time_control,datetime,variant,magnus_result
0,1,Lichess Titled Arena 6,GM,15.0,2739,BabaRamdev,1-0,damnsaltythatsport,2873,-15.0,GM,-134,A50,Normal,60+0,2018.08.04 20:58:08,Standard,lost
1,2,Lichess Titled Arena 6,GM,10.0,2863,damnsaltythatsport,1-0,penguingim1,2836,-7.0,GM,27,A00,Normal,60+0,2018.08.04 20:56:59,Standard,won
2,3,Lichess Titled Arena 6,IM,-6.0,2677,Hawk20,0-1,damnsaltythatsport,2857,6.0,GM,180,C00,Normal,60+0,2018.08.04 20:54:40,Standard,won
3,4,Lichess Titled Arena 6,GM,9.0,2848,damnsaltythatsport,1-0,opperwezen,2774,-9.0,IM,74,D46,Normal,60+0,2018.08.04 20:52:19,Standard,won
4,5,Lichess Titled Arena 6,GM,14.0,2770,caching,1-0,damnsaltythatsport,2862,-14.0,GM,-92,A00,Normal,60+0,2018.08.04 20:50:20,Standard,lost

In [53]:
# Changing Lichess usernames to real names
# The encoding deals with foreign characters 
usernames = pd.read_csv('csv/user_names.csv',encoding="ISO-8859-1")
usernamedict = dict(zip(usernames.user_name,usernames.real_name))
usernamedict['DannyTheDonkey'] = 'Magnus Carlsen' # csv has 'DannytheDonkey' instead of 'DannyTheDonkey' so I'm fixing it using this
cg = cg.replace(usernamedict)
cg.head()

,game_order,event,white_title,white_rating_diff,white_elo,white,result,black,black_elo,black_rating_diff,black_title,winner_loser_elo_diff,eco,termination,time_control,datetime,variant,magnus_result
0,1,Lichess Titled Arena 6,GM,15.0,2739,Akshat Chandra,1-0,Magnus Carlsen,2873,-15.0,GM,-134,A50,Normal,60+0,2018.08.04 20:58:08,Standard,lost
1,2,Lichess Titled Arena 6,GM,10.0,2863,Magnus Carlsen,1-0,Andrew Tang,2836,-7.0,GM,27,A00,Normal,60+0,2018.08.04 20:56:59,Standard,won
2,3,Lichess Titled Arena 6,IM,-6.0,2677,Hawk20,0-1,Magnus Carlsen,2857,6.0,GM,180,C00,Normal,60+0,2018.08.04 20:54:40,Standard,won
3,4,Lichess Titled Arena 6,GM,9.0,2848,Magnus Carlsen,1-0,Vincent Rothuis,2774,-9.0,IM,74,D46,Normal,60+0,2018.08.04 20:52:19,Standard,won
4,5,Lichess Titled Arena 6,GM,14.0,2770,caching,1-0,Magnus Carlsen,2862,-14.0,GM,-92,A00,Normal,60+0,2018.08.04 20:50:20,Standard,lost

In [54]:
# Sorting games by datetime
cg = cg.sort_values(by=['datetime'],ignore_index=True)
cg.head()

,game_order,event,white_title,white_rating_diff,white_elo,white,result,black,black_elo,black_rating_diff,black_title,winner_loser_elo_diff,eco,termination,time_control,datetime,variant,magnus_result
0,105,Lichess Titled Arena,GM,58.0,2500,Magnus Carlsen,1-0,jsalomon,2532,-13.0,GM,-32,E47,Normal,60+0,2017.12.14 21:00:02,Standard,lost
1,104,Lichess Titled Arena,IM,17.0,2420,Yoseph Taher,1-0,Magnus Carlsen,2558,-65.0,GM,-138,B01,Time forfeit,60+0,2017.12.14 21:01:10,Standard,lost
2,103,Lichess Titled Arena,FM,-17.0,2754,gnejs,0-1,Magnus Carlsen,2493,73.0,GM,-261,B01,Normal,60+0,2017.12.14 21:04:13,Standard,lost
3,102,Lichess Titled Arena,GM,61.0,2566,Magnus Carlsen,1-0,Toivo Keinänen,2755,-16.0,IM,-189,A01,Normal,60+0,2017.12.14 21:06:30,Standard,lost
4,101,Lichess Titled Arena,GM,9.0,2627,Magnus Carlsen,1-0,AusCub,2275,-4.0,NM,352,A01,Normal,60+0,2017.12.14 21:07:57,Standard,lost

In [55]:
# Used to access cg in another notebook 
%store cg

Stored 'cg' (DataFrame)

In [56]:
# In the few code blocks, I'm creating a dataframe where Magnus has his own column and the opponent has their own column, instead of black and white
def mergeelo(row):
    return row.white_elo + row.black_elo

In [57]:
magnuswhiteelo = cg.loc[(cg.white=='Magnus Carlsen'),['white_elo']]
magnuswhiteelo.reset_index(inplace=True)
magnusblackelo = cg.loc[(cg.black=='Magnus Carlsen'),['black_elo']]
magnusblackelo.reset_index(inplace=True)
magnuselo = magnuswhiteelo.merge(magnusblackelo,how='outer',on='index',sort=True)
magnuselo = magnuselo.fillna(0)
magnuselo['elo']= magnuselo.apply(lambda row: mergeelo(row),axis=1)
magnuselo

       index  white_elo  black_elo     elo
0          0     2500.0        0.0  2500.0
1          1        0.0     2558.0  2558.0
2          2        0.0     2493.0  2493.0
3          3     2566.0        0.0  2566.0
4          4     2627.0        0.0  2627.0
...      ...        ...        ...     ...
13437  13437     3202.0        0.0  3202.0
13438  13438        0.0     3204.0  3204.0
13439  13439     3207.0        0.0  3207.0
13440  13440        0.0     3209.0  3209.0
13441  13441     3212.0        0.0  3212.0

[13442 rows x 4 columns]

In [41]:
# Doing the same thing to opponent elo now
opponentwhiteelo = cg.loc[(cg.white!='Magnus Carlsen'),['white_elo']]
opponentwhiteelo.reset_index(inplace=True)
opponentblackelo = cg.loc[(cg.black!='Magnus Carlsen'),['black_elo']]
opponentblackelo.reset_index(inplace=True)
opponentelo = opponentwhiteelo.merge(opponentblackelo,how='outer',on='index',sort=True)
opponentelo = opponentelo.fillna(0)
opponentelo['elo']= opponentelo.apply(lambda row: mergeelo(row),axis=1)
opponentelo

       index  white_elo  black_elo     elo
0          0        0.0     2532.0  2532.0
1          1     2420.0        0.0  2420.0
2          2     2754.0        0.0  2754.0
3          3        0.0     2755.0  2755.0
4          4        0.0     2275.0  2275.0
...      ...        ...        ...     ...
13437  13437        0.0     2984.0  2984.0
13438  13438     2982.0        0.0  2982.0
13439  13439        0.0     2979.0  2979.0
13440  13440     2977.0        0.0  2977.0
13441  13441        0.0     2974.0  2974.0

[13442 rows x 4 columns]

In [42]:
# combining the information from the two dataframes above
magoppres = pd.DataFrame(data=(magnuselo.elo,opponentelo.elo,cg.magnus_result)).T
magoppres.columns = ['mag_elo','opp_elo','magnus_result']
magoppres

      mag_elo opp_elo magnus_result
0      2500.0  2532.0          lost
1      2558.0  2420.0          lost
2      2493.0  2754.0          lost
3      2566.0  2755.0          lost
4      2627.0  2275.0          lost
...       ...     ...           ...
13437  3202.0  2984.0           won
13438  3204.0  2982.0           won
13439  3207.0  2979.0           won
13440  3209.0  2977.0           won
13441  3212.0  2974.0           won

[13442 rows x 3 columns]

In [58]:
# Shouldn't use df from code testing, will fix
%store -r timegames
timegames = timegames
mg = pd.DataFrame(data=(timegames.group_name_color,magoppres.mag_elo,magoppres.opp_elo,magoppres.magnus_result,cg.eco,cg.time_control,cg.datetime)).T
mg = mg.rename(columns={'group_name_color':'magnus_color'})
%store mg

Stored 'mg' (DataFrame)